{% extends "base.html" %}

{% comment %}
Template for the Checkout Index Page
{% endcomment %}

{% load checkout_tags %}

{% block content %}
<div class="container">
  <h2>Checkout System</h2>
</div>

<!-- Add Product Code Form -->
<div class="container">
  <form id="form-add-product-code" action="/checkout/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <div class="form-inline">
        <input type="text" class="form-control mr-sm-3" id="product_code" name="product_code" placeholder="Product Code" required autofocus>
        <button type="submit" class="btn btn-success" name="add_product_code">Add Product Code</button>
      </div>
      <small id="passwordHelpInline" class="text-muted">
        Product Code is not case-sensitive (e.g. CF1, cf1, and cF1 are equivalent)
      </small>
    </div>
  </form>
</div>

<!-- Transaction Commands Form -->
<div class="container">
  <form id="form-transaction-commands" action="/checkout/" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="print_transaction">Print Transaction</button>
    <button type="submit" class="btn btn-primary" name="new_transaction">New Transaction</button>
  </form>
</div>

{% if messages %}
<!-- Messages -->
<div class="container messages">
  <ul>
    <hr>
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    <hr>
  </ul>
</div>
{% endif %}

{# Display the current transaction record when Print Transaction is called #}
{% if print_transaction %}
<!-- Transaction Record -->
  {% transaction_record %}
{% endif %}

{% endblock content %}
