{% comment %}
Template for the Transaction Record
{% endcomment %}

<div class="container">
  <h3>Current Transaction Record</h3>

  {% if tx_record %}
  <div class="row">
    <div class="col-6">
      <table class="table table-hover table-sm">
        <caption>Printed {% now "F jS, Y H:i:s"%}</caption>
        <thead class='thead-light'>
          <tr>
            <th>Item</th>
            <th class="text-center"></th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>

        {% for line in tx_record %}
        <tr {% if forloop.last %} class="table-dark" {% endif %}>
          {% if not forloop.last %}
            {% if line.is_discount %}
            <td></td>
            <td>{{ line.code }}</td>
            <td class="text-right">{{ line.amount }}</td>

            {% else %}
            <td>{{ line.code }}</td>
            <td></td>
            <td class="text-right">{{ line.amount }}</td>

            {% endif %}
          {% else %}
          <td></td>
          <td></td>
          <td class="text-right transaction-record-total-row">{{ line.total }}</td>

          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>

    {% else %}
    No items in current transaction.

    </div>
  </div>
  {% endif %}
</div>
