{% extends "base.html" %}

{% comment %}
Template for the Root Index Page
{% endcomment %}

{% load checkout_tags %}

{% block content %}
<div class="container">
  <h2>Select a function below:</h2>
  <ul>
    <li class="display-4"><a href="{% url 'checkout:index' %}">Checkout</a></li>
  </ul>
</div>
{% endblock content %}
